.container {
   background-color: #0f1424;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}

.cardsContainer {
   max-width: 80vw;
   min-height: 70vh;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 20px;

   @media (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, 1fr);
      width: 90vw;
      padding: 5rem 0;
   }
}
